html,body{
    height: 100%;
    background-color: whitesmoke;
    margin: 0px;
    font-size: 10px;
}
body{
    font-size: 16px;
    font-family: 'Raleway';
}
#wrapper{
    line-height: 2.2rem;
    width: 100%;
    min-height: 100%;
    background-color: white;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

}
#wrapper>header{
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    flex-basis: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 2.8rem;
}
#mainContent{
    width: 100%;
    flex-grow: 1;
    display: flex;
}
#mainContent>aside{
    flex-basis: 30rem;
    border-right: 1.5rem solid cornflowerblue;
    padding-left: 0px;
    box-sizing: border-box;
}
#mainContent>aside .asideSection{
    width: 100%;
    min-height: 10rem;
    margin-top: 2rem;
}
#mainContent>aside .asideSection>header{
    color: cornflowerblue;
    font-size: 2.6rem;
}
#mainContent>aside .asideSection>div{
    padding-left: 2rem;
    padding-right: 1rem;
    box-sizing: border-box;
}
#mainContent>aside .asideSection>div ul{
    padding-left: 2rem;
}
#mainContent>main{
    flex-grow: 1;
    padding-left: 2rem;
    box-sizing: border-box;
}
#mainContent>main .section{
    margin-top: 1rem;
}
#mainContent>main .section>header{
    height: 4rem;
    line-height: 4rem;
    color: cornflowerblue;
    font-size: 2.6rem;
}
#mainContent>main .section>.sectionContent{
    min-height: 10rem;
    margin-top: 1rem;
}
#mainContent>main .section>.sectionContent>header{
    text-decoration: underline;
    height: 3rem;
    line-height: 3rem;
}